* {
    box-sizing: border-box;
    border: .5px solid black;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: rgba(45, 146, 99, 0.705);
    /**/
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1;
}

    body {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: stretch;
        justify-self: stretch;
        /**/
        display: grid;
        grid-template-rows: 5% 95%;
        grid-template-columns: 1;
    }

        nav {
            grid-row: 1 / 2;
            /**/
            display: grid;
            grid-template-rows: 1;
            grid-template-columns: 25% 50% 25%;
        }

            .profile_img {
                grid-column: 1 / 2;
                /**/
                display: grid;
            }

                .profile_img_current {
                    border-radius: 50%;
                    height: 100%;
                    /**/
                    justify-self: start;
                    align-self: center;
                }

            .mdb_logo {
                grid-column: 2 / 3;
            }

            .project_toggle {
                grid-column: 3 / 4;
            }
        
        main {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            align-self: stretch;
            justify-self: stretch;
            /**/
            display: grid;
            grid-template-rows: 1;
            grid-template-columns: 1;
        }

            .main_display {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                align-self: stretch;
                justify-self: stretch;
                /**/
                padding: 5%;
                /**/
                display: grid;
                grid-template-rows: 1;
                grid-template-columns: 1;
            }

                .picture_list {
                    grid-row: 1 / 2;
                    grid-column: 1 / 2;
                    justify-self: stretch;
                    align-self: stretch;
                    /**/
                    width: 100%;
                    height: 100%;
                    /**/
                    display: grid;
                    grid-template-rows: 30%;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-auto-flow: row;
                    grid-auto-rows: 30%;
                    grid-gap: 1rem;
                    padding: 1rem;
                    overflow: scroll;
                }

                    .picture_card {
                        justify-self: stretch;
                        align-self: stretch;
                        /**/
                        box-shadow: 0px 1px 5px #555;
                        background-color: white;
                        /**/
                        display: grid;
                        grid-template-rows: 1;
                        grid-template-columns: 1;
                    }

                        .list_img {
                            border-radius: 50%;
                            height: 100%;
                            width: 100%;
                            /**/
                            grid-row: 1 / 2;
                            grid-column: 1 / 2;
                            justify-self: stretch;
                            align-self: stretch;
                        }

            .client_options {
                display: none;
            }

            .project_options {
                display: none;
            }

/**/

ol {
    margin: 0;
}