* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    /**/
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

    body {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: stretch;
        justify-self: stretch;
        background-image: url('https://i.ibb.co/88D5PQN/d5676e4384804becb52486e2be500846.jpg');
        background-size: cover;
        /**/
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 100%;
        width: 100%;
        height: 100%;
    }

        header {
            grid-row: 1 / 2;
            /**/
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 25% 50% 25%;
            /**/
            background-color: rgba(255, 255, 255, .500);
            border-radius: 0 0 15px 15px;
            border: .5px solid rgba(0, 0, 0, .500);
            width: 100%;
            height: 100%;
        }

            .profile_img {
                grid-column: 1 / 2;
                /**/
                padding: 5%;
                /**/
                display: grid;
            }

                .profile_img_current {
                    border-radius: 25%;
                    height: 100%;
                    /**/
                    justify-self: start;
                    align-self: center;
                }

            .mdb_logo {
                grid-column: 2 / 3;
                /**/
                /**/
                display: grid;
            }

                .logo_img {
                    height: 90%;
                    width: auto;
                    border-radius: 25%;
                    border: 3px groove black;
                    /**/
                    justify-self: center;
                    align-self: center;
                }

            .project_toggle {
                grid-column: 3 / 4;
                /**/
                /**/
                display: grid;
            }

                .project_toggle_img {
                    border-radius: 25%;
                    height: 100%;
                    /**/
                    justify-self: end;
                    align-self: center;
                }
        
        main {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            align-self: stretch;
            justify-self: stretch;
            /**/
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 1fr 8fr;
            /**/
            border-radius: 15px;
            width: 100%;
            height: 100%;
        }

            .main_display {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
                align-self: stretch;
                justify-self: stretch;
                background-color: rgba(255, 255, 255, .500);
                border-radius: 15px;
                border: .5px solid rgba(0, 0, 0, .500);
                /**/
                display: grid;
                grid-template-rows: 8% 92%;
                grid-template-columns: 1fr;
                width: 100%;
                height: 100%;
            }

                .current_selection {
                    grid-row: 1 / 2;
                    justify-self: start;
                    align-self: start;
                    background-color: rgba(255, 255, 255, .500);
                    border-radius: 15px 0px 5px 0px;
                    border: .5px solid rgba(0, 0, 0, .500);
                    padding: 1%;
                    color: rgba(0, 0, 0, .900);
                    grid-template-columns: 100%;
                    grid-template-rows: 50% 50%;
                    display: grid;
                    height: 100%;
                    width: 50%;
                }

                    .home_display {
                        font-size: .8em;
                        grid-row: 1 / 2;
                    }

                    .room_display {
                        font-size: .8em;
                        grid-row: 2 / 3;
                    }

                    .current_home {
                        color: rgba(54, 0, 45, 0.952);
                    }

                    .current_room {
                        color: rgba(54, 0, 45, 0.952);
                    }

                .picture_list {
                    grid-row: 2 / 3;
                    grid-column: 1 / 2;
                    justify-self: center;
                    align-self: center;
                    /**/
                    width: 100%;
                    height: 100%;
                    /**/
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: repeat(3, 1fr);
                    grid-auto-flow: row;
                    grid-auto-rows: 1fr;
                    grid-gap: 3%;
                    padding: 3%;
                    overflow: scroll;
                }

                    .picture_card {
                        justify-self: center;
                        align-self: center;
                        width: 100%;
                        height: auto;
                        /**/
                        background-color: rgba(255, 255, 255, 0.333);
                        border-radius: 15px;
                        box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, .500);
                        /**/
                        display: grid;
                        grid-template-rows: 1fr;
                        grid-template-columns: 1fr;
                        position: relative;
                    }

                        .list_img {
                            width: 100%;
                            height: auto;
                            background-color: rgba(255, 255, 255, 0.333);
                            border-radius: 15px;
                            /**/
                            grid-row: 1 / 2;
                            grid-column: 1 / 2;
                            justify-self: center;
                            align-self: center;
                        }

                        .add_button {
                            width: 100%;
                            border-radius: 50%;
                        }
                        
                
                    .sub_project_picture_edit {
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-radius: 0 15px 0 0;
                        border: .5px inset rgba(255, 255, 255, 0.333);
                        background-color: rgba(255, 255, 255, 0.333);
                    }

            .client_options_container {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                align-self: stretch;
                justify-self: stretch;
                /**/
                text-align: center;
                background-color: rgba(255, 255, 255, 0.500);
                border: .5px solid rgba(0, 0, 0, .500);
                border-radius: 0 15px 15px 0;
                /**/
                display: grid;
                grid-template-rows: repeat(8, 1fr);
                grid-gap: space-between;
            }

                .client_options {
                    align-self: center;
                    justify-self: center;
                    /**/
                    font-size: 1.3em;
                    color: rgba(0, 0, 0, .800);
                    border-bottom: .5px solid rgba(0, 0, 0, .800);
                }

            .project_options_container {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
                align-self: stretch;
                justify-self: stretch;
                /**/
                text-align: center;
                /**/
                display: none;
                grid-template-rows: 1fr 9fr;
                }

                .project_header {
                    align-self: stretch;
                    justify-self: stretch;
                    grid-row: 1 / 2;
                    /**/
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    font-size: 1.3em;
                }

                .home_button {
                        color: rgba(255, 255, 255, 0.500);
                        grid-column: 1 / 2;
                        align-self: stretch;
                        justify-self: stretch;
                        background-color: rgba(0, 0, 0, .500);
                        border: .5px solid rgba(255, 255, 255, 0.500);
                        border-radius: 15px 0 0 15px;
                }

                .room_button {
                        color: rgba(0, 0, 0, .500);
                        grid-column: 2 / 3;
                        align-self: stretch;
                        justify-self: stretch;
                        background-color: rgba(255, 255, 255, 0.500);
                        border: .5px solid rgba(0, 0, 0, .500);
                        border-radius: 0 15px 15px 0;
                }

                .project_list {
                    grid-row: 2 / 3;
                    align-self: stretch;
                    justify-self: stretch;
                    display: none;
                    /**/
                    height: 100%;
                    overflow: scroll;
                    padding: 3%;
                    background-color: rgba(255, 255, 255, 0.500);
                    border: .5px solid rgba(0, 0, 0, .500);
                    border-radius: 15px 0 0 15px;
                }

                    .project_card {
                        padding: 10px;
                        align-self: center;
                        color: rgba(0, 0, 0, .800);
                    }

                    .unique_project_card {
                        display: grid;
                        align-self: center;
                        grid-template-rows: 1;
                        grid-template-columns: .5fr 2fr;
                        color: rgba(0, 0, 0, .800);
                    }

                        .project_edit {
                            grid-column: 1 / 2;
                            justify-self: start;
                            align-self: start;
                            background-color: transparent;
                            border: 0px;
                        }

                        .unique_project_card > p {
                            grid-column: 2 / 3;
                            text-align: start;
                            justify-self: start;
                            font-size: 1.2em;
                        }

                        .delete_project_form {
                            display: none;
                        }

                .sub_project_list {
                    grid-row: 2 / 3;
                    align-self: stretch;
                    justify-self: stretch;
                    display: none;
                    /**/
                    height: 100%;
                    overflow: scroll;
                    padding: 3%;
                    background-color: rgba(255, 255, 255, 0.500);
                    border: .5px solid rgba(0, 0, 0, .500);
                    border-radius: 15px 0 0 15px;
                }

                    .sub_project_card {
                        padding: 10px;
                        align-self: center;
                        color: rgba(0, 0, 0, .800);
                    }

                    .unique_sub_project_card {
                        display: grid;
                        grid-template-rows: 1;
                        grid-template-columns: .5fr 2fr;
                        align-self: center;
                        color: rgba(0, 0, 0, .800);
                    }

                        .sub_project_edit {
                            grid-column: 1 / 2;
                            justify-self: start;
                            align-self: start;
                            background-color: transparent;
                            border: 0px;
                        }

                        .unique_sub_project_card > p {
                            grid-column: 2 / 3;
                            text-align: start;
                            justify-self: start;
                            font-size: 1.2em;
                        }
        
            .form_container {
                display: none;
                grid-row: 1 / 2;
                grid-column: 2 / 3;
                align-self: center;
                justify-self: stretch;
                background-color: rgba(255, 255, 255, 0.500);
                border: .5px solid rgba(0, 0, 0, .500);
                border-radius: 15px 0 0 15px;
            }

                .add_submition {
                    grid-template-rows: 1fr .5fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    display: none;
                    grid-row-gap: 5%;
                    padding: 5%;
                    height: 100%;
                }

                .add_img_submition {
                    grid-template-rows: 1fr .5fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    display: none;
                    grid-row-gap: 5%;
                    padding: 5%;
                    height: 100%;
                }
                
                    .form_label {
                        grid-row: 1 / 2;
                        grid-column: 1 / 3;
                        text-align: center;
                        font-size: 1.3em;
                        align-self: center;
                    }

                    .form_text {
                        grid-row: 2 / 3;
                        grid-column: 1 / 3;
                        font-size: 1em;
                    }

                    .add_submition_back {
                        grid-row: 3 / 4;
                        grid-column: 1 / 2;
                        color: rgba(0, 0, 0, .500);
                        align-self: stretch;
                        justify-self: stretch;
                        background-color: rgba(255, 255, 255, 0.500);
                        border: .5px solid rgba(0, 0, 0, .500);
                        border-radius:  15px 0 0 15px;

                    }

                    .add_submition_button {
                        grid-row: 3 / 4;
                        grid-column: 2 / 3;
                        color: rgba(0, 0, 0, .500);
                        align-self: stretch;
                        justify-self: stretch;
                        background-color: rgba(255, 255, 255, 0.500);
                        border: .5px solid rgba(0, 0, 0, .500);
                        border-radius: 0 15px 15px 0;
                    }


                .edit_submition {
                    grid-template-rows: 1fr .5fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    display: none;
                    grid-row-gap: 5%;
                    padding: 5%;
                    height: 100%;
                }
                
                    .form_edit_label {
                        grid-row: 1 / 2;
                        grid-column: 1 / 3;
                        text-align: center;
                        font-size: 1.3em;
                        align-self: center;
                    }

                    .form_edit_text {
                        grid-row: 2 / 3;
                        grid-column: 1 / 3;
                        font-size: 1em;
                    }

                    .edit_submition_back {
                        grid-row: 3 / 4;
                        grid-column: 1 / 2;
                        color: rgba(0, 0, 0, .500);
                        align-self: stretch;
                        justify-self: stretch;
                        background-color: rgba(255, 255, 255, 0.500);
                        border: .5px solid rgba(0, 0, 0, .500);
                        border-radius:  15px 0 0 15px;

                    }

                    .edit_submition_button {
                        grid-row: 3 / 4;
                        grid-column: 2 / 3;
                        color: rgba(0, 0, 0, .500);
                        align-self: stretch;
                        justify-self: stretch;
                        background-color: rgba(255, 255, 255, 0.500);
                        border: .5px solid rgba(0, 0, 0, .500);
                        border-radius: 0 15px 15px 0;
                    }
                    
                .delete_form {
                    grid-row: 1 / 2;
                    grid-column: 1 / 2;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    grid-row-gap: 5%;
                    padding: 5%;
                    height: 100%;
                    display: none;
                }

                    .delete_label {
                        grid-row: 1 / 2;
                        grid-column: 1 / 3;
                        text-align: center;
                        font-size: 1.3rem;
                    }

                    .keep {
                        grid-row: 2 / 3;
                        grid-column: 1 / 2;
                        color: rgba(0, 0, 0, .500);
                        background-color: rgba(255, 255, 255, 0.500);
                        border: .5px solid rgba(0, 0, 0, .500);
                        border-radius:  15px 0 0 15px;
                    }

                    .delete {
                        grid-row: 2 / 3;
                        grid-column: 2 / 3;
                        color: rgba(0, 0, 0, .500);
                        background-color: rgba(255, 255, 255, 0.500);
                        border: .5px solid rgba(0, 0, 0, .500);
                        border-radius: 0 15px 15px 0;
                    }

                    

/**/

.add_img_submition {
    display: none;
}

.project_add_button {
    color: rgba(0, 0, 0, .500);
    background-color: rgba(255, 255, 255, 0.500);
    border: .5px solid rgba(0, 0, 0, .500);
    border-radius: 15px;
    padding: 5%;
}

.sub_project_add_button {
    color: rgba(0, 0, 0, .500);
    background-color: rgba(255, 255, 255, 0.500);
    border: .5px solid rgba(0, 0, 0, .500);
    border-radius: 15px;
    padding: 5%;
}
/**/

ol {
    margin: 0;
    list-style-type: none;
}

h2 {
    font-size: 1.5em;
    padding: 5px;
}

p {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

/**/

.profile_img_current:hover {
    border: 5px black double;
    cursor: pointer;
}

.project_toggle_img:hover {
    border: 5px black double;
    cursor: pointer;
}

.add_button:hover {
    cursor: pointer;
}

.add_button:active {
    border: inset;
}

.add_submition_back:active {
    color: rgba(255, 255, 255, 0.500);
    background-color: rgba(0, 0, 0, .500);
    border: .5px solid rgba(255, 255, 255, 0.500);
}

.add_submition_button:active {
    color: rgba(255, 255, 255, 0.500);
    background-color: rgba(0, 0, 0, .500);
    border: .5px solid rgba(255, 255, 255, 0.500);
}

.client_options:hover {
    color: rgba(15, 65, 27, 0.952);
    cursor: pointer;
}

.client_options:active {
    color: rgba(54, 0, 45, 0.952);
    cursor: pointer;
}

.project_card:hover {
    color: rgba(15, 65, 27, 0.952);
    cursor: pointer;
}

.project_card:active {
    color: rgba(54, 0, 45, 0.952);
    cursor: pointer;
}

.sub_project_card:hover {
    color: rgba(15, 65, 27, 0.952);
    cursor: pointer;
}

.sub_project_card:active {
    color: rgba(54, 0, 45, 0.952);
    cursor: pointer;
}

.project_add_button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.500);
    background-color: rgba(0, 0, 0, .500);
    border: .5px solid rgba(255, 255, 255, 0.500);
}

.sub_project_add_button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.500);
    background-color: rgba(0, 0, 0, .500);
    border: .5px solid rgba(255, 255, 255, 0.500);
}

.project_add_button:active {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.500);
    background-color: rgba(0, 0, 0, .500);
    border: .5px solid rgba(255, 255, 255, 0.500);
}

.sub_project_add_button:active {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.500);
    background-color: rgba(0, 0, 0, .500);
    border: .5px solid rgba(255, 255, 255, 0.500);
}

.project_edit:hover {
    color: rgba(189, 9, 9, 0.952);
    cursor: pointer;
}

.sub_project_edit:hover {
    color: rgba(189, 9, 9, 0.952);
    cursor: pointer;
}

.home_button:hover {
    color: rgba(15, 65, 27, 0.952);
    cursor: pointer;
}

.room_button:hover {
    color: rgba(15, 65, 27, 0.952);
    cursor: pointer;
}

.selected {
    display: grid;
}

.selected_client_option {
    color: rgba(54, 0, 45, 0.952);
}

.explore {
    padding-right: 5%;
}

/**/
main {
    display: none;
}

.info_box {
    grid-row: 2 / 3;
    display: grid;
    color: rgba(0, 0, 0, .500);
    background-color: rgba(255, 255, 255, 0.500);
    border: .5px solid rgba(0, 0, 0, .500);
    border-radius: 15px;
    justify-self: center;
    align-self: center;
    position: relative;
    height: 75%;
    width: 75%;
    padding: 2%;
    font-size: 1.3em;
    overflow: scroll;
}
/**/

@media screen and (max-height: 600px), screen and (max-width: 500px) {

    main {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        align-self: stretch;
        justify-self: stretch;
        display: none;
        grid-template-rows: 10% 90%;
        grid-template-columns: 1fr;
        border-radius: 15px;
        width: 100%;
        height: 100%;
    }

    .main_display {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }


    .picture_list {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        justify-self: center;
        align-self: start;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        grid-gap: 3%;
        padding: 3%;
        overflow: scroll;
    }

    

    .client_options_container {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        align-self: stretch;
        justify-self: stretch;
	    text-align: center;
        background-color: rgba(255, 255, 255, 0.500);
        border: .5px solid rgba(0, 0, 0, .500);
        border-radius: 15px;
        display: grid;
        grid-template-columns: 25%;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        grid-auto-columns: 25%;
        overflow-y: scroll;
    }
}

@media screen and (orientation: landscape) and (max-width: 1100px) and (min-width: 500px) {
    .main_display {
        grid-template-rows: 15% 85%;
    }

    .picture_list {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        grid-gap: 3%;
        padding: 3%;
        overflow: scroll;
    }

}