<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
        <link rel="stylesheet" href="../../public/stylesheets/sign_up_form.css" type="text/css">
        <title></title>
    </head>
    <body class="">
        <header>
            <p>header</p>
        </header>
        <main class="">
            <section class="sign_up-header">
                <p>My Design Book</p>
            </section>
            <section class="sign_up-main">
                <form class="sign_up-main-form" action="">
                    <label class="sign_up-main-form-name">
                        <p>Full Name: <input class="sign_up-main-form-input" type="text" placeholder="FakeUser Name" name="name" required></p> 
                    </label>
                    <label class="sign_up-main-form-email">
                        <p>Email: <input class="sign_up-main-form-input" type="email" placeholder="FakeUserName@gmail.com" name="email" required></p> 
                    </label>
                    <label class="sign_up-main-form-user_name">
                        <p>Username: <input class="sign_up-main-form-input" type="text" placeholder="FakeUserName" name="user_name" required></p> 
                    </label>
                    <label class="sign_up-main-form-pass_word">
                        <p>Password: <input class="sign_up-main-form-input" type="password" placeholder="FakeUserNamePassWord" name="pass_word" required></p>
                    </label>
                    <button class="sign_up-main-form-submit" type="submit">
                        <p>Create a Book?</p>
                    </button>
                </form>
            </section>
        </main>
        <footer class="">
            <div class="logo">
                <p>footer-logo</p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="./client.js"></script>
    </body>
</html>